<script type="text/javascript">
AC_SW_RunContent(
'classid','clsid:166B1BCA-3F9C-11CF-8075-444553540000',
'codebase','http://download.macromedia.com/pub/shockwave/cabs/director/sw.cab#version=8,5,0,0',
'width','{{ width }}',
'height','{{ height }}',
'src','{{ src_no_ext }}',
"swRemote","swSaveEnabled='true' swVolume='false' swRestart='false' swPausePlay='false' swFastForward='false' swContextMenu='false'",
'swStretchStyle','fill',
'pluginspage','http://www.macromedia.com/shockwave/download/',
'logo','false',
'menu','false');
</script>
<noscript>
<object classid="clsid:166B1BCA-3F9C-11CF-8075-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/director/sw.cab#version=8,5,0,0" width="{{ width }}" height="{{ height }}">
<param name="src" value="{{ src }}">
<param name="logo" value="false">

<param name="menu" value="false">
<param name="swRemote" value="swSaveEnabled='true' swVolume='false' swRestart='false' swPausePlay='false' swFastForward='false' swContextMenu='false'">
<embed src="{{ src }}" logo="false" swRemote="swSaveEnabled='true' swVolume='false' swRestart='false' swPausePlay='false' swFastForward='false' swContextMenu='false'"menu="false" pluginspage="http://www.macromedia.com/shockwave/download/" width="{{ width }}" height="{{ height }}"></embed>
</object></noscript>