<script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0','wmode', '{{ wmode }}','width','{{ width }}','height','{{ height }}','src','{{ src_no_ext }}{{ get }}','quality','high','pluginspage','http://www.macromedia.com/go/getflashplayer','movie','{{ src_no_ext }}{{ get }}' ); //end AC code
</script>
<noscript>
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="{{ width }}" height="{{ height }}">
		<param name="movie" value="{{ src }}{{ get }}" />
		<param name="quality" value="high" />
		<param name="wmode" value="{{ wmode }}" />
		<embed src="{{ src }}{{ get }}" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="{{ wmode }}" width="{{ width }}" height="{{ height }}">
		</embed>
	</object>
</noscript>